<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Oração</title>
</head>
<body>

 <!-- Header -->
 <header class="masthead">
  <div class="container d-flex h-100">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 "
      ">ORAÇÃO CONTÍNUA</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"><a href="/" style= "color: white"> INÍCIO </a>
        </h2>
      <br>
      <br> 
      <section class="templateux-portfolio-overlap" id="next">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12" data-aos="fade-up">
            <a class="project animsition-link" href="
            #">
              
            </a>
          </div>
        </div>
      </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered  table-light table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Horário</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @mornings1.each do |morning| %>
      <tr>
        <td>06:00 às 06:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings2.each do |morning| %>
      <tr>
        <td>06:30 às 07:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings3.each do |morning| %>
      <tr>
        <td>07:00 às 07:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings4.each do |morning| %>
      <tr>
        <td>07:30 às 08:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings5.each do |morning| %>
      <tr>
        <td>08:00 às 08:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings6.each do |morning| %>
      <tr>
        <td>08:30 às 09:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings7.each do |morning| %>
      <tr>
        <td>09:00 às 09:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings8.each do |morning| %>
      <tr>
        <td>09:30 às 10:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings9.each do |morning| %>
      <tr>
        <td>10:00 às 10:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings10.each do |morning| %>
      <tr>
        <td>10:30 às 11:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings11.each do |morning| %>
      <tr>
        <td>11:00 às 11:30</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @mornings12.each do |morning| %>
      <tr>
        <td>11:30 às 12:00</td>
        <td><%= morning.name %></td>
      </tr>
      <% end %>
      <% @evenings1.each do |evening| %>
      <tr>
        <td>12:00 às 12:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings2.each do |evening| %>
      <tr>
        <td>12:30 às 13:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings3.each do |evening| %>
      <tr>
        <td>13:00 às 13:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings4.each do |evening| %>
      <tr>
        <td>13:30 às 14:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings5.each do |evening| %>
      <tr>
        <td>14:00 às 14:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings6.each do |evening| %>
      <tr>
        <td>14:30 às 15:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings7.each do |evening| %>
      <tr>
        <td>15:00 às 15:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings8.each do |evening| %>
      <tr>
        <td>15:30 às 16:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings9.each do |evening| %>
      <tr>
        <td>16:00 às 16:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings10.each do |evening| %>
      <tr>
        <td>16:30 às 17:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings11.each do |evening| %>
      <tr>
        <td>17:00 às 17:30</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @evenings12.each do |evening| %>
      <tr>
        <td>17:30 às 18:00</td>
        <td><%= evening.name %></td>
      </tr>
      <% end %>
      <% @nights1.each do |night| %>
      <tr>
        <td>18:00 às 18:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights2.each do |night| %>
      <tr>
        <td>18:30 às 19:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights3.each do |night| %>
      <tr>
        <td>19:00 às 19:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights4.each do |night| %>
      <tr>
        <td>19:30 às 20:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights5.each do |night| %>
      <tr>
        <td>20:00 às 20:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights6.each do |night| %>
      <tr>
        <td>20:30 às 21:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights7.each do |night| %>
      <tr>
        <td>21:00 às 21:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights8.each do |night| %>
      <tr>
        <td>21:30 às 22:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights9.each do |night| %>
      <tr>
        <td>22:00 às 22:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights10.each do |night| %>
      <tr>
        <td>22:30 às 23:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights11.each do |night| %>
      <tr>
        <td>23:00 às 23:30</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @nights12.each do |night| %>
      <tr>
        <td>23:30 às 00:00</td>
        <td><%= night.name %></td>
      </tr>
      <% end %>
      <% @dawns1.each do |dawn| %>
      <tr>
        <td>00:00 às 00:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns2.each do |dawn| %>
      <tr>
        <td>00:30 às 01:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns3.each do |dawn| %>
      <tr>
        <td>01:00 às 01:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns4.each do |dawn| %>
      <tr>
        <td>01:30 às 02:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns5.each do |dawn| %>
      <tr>
        <td>02:00 às 02:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns6.each do |dawn| %>
      <tr>
        <td>02:30 às 03:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns7.each do |dawn| %>
      <tr>
        <td>03:00 às 03:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns8.each do |dawn| %>
      <tr>
        <td>03:30 às 04:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns9.each do |dawn| %>
      <tr>
        <td>04:00 às 04:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns10.each do |dawn| %>
      <tr>
        <td>04:30 às 05:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns11.each do |dawn| %>
      <tr>
        <td>05:00 às 05:30</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
      <% @dawns12.each do |dawn| %>
      <tr>
        <td>05:30 às 06:00</td>
        <td><%= dawn.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
<hr>


      </section>

    </div>
  </div>
</header>


</body>
</html>